/* rem and em do NOT depend on HTML font-size in media query's  instead, 1rem = 1em = 16px*/
/* to convert to rem, divide to 16px */

/* ************* */
/* BELLOW 1344PX (smaller desktops) */
/* ************* */

/* estilo para dispositivos móveis */
@media (max-width: 380px) {
  .gif-container {
    width: 1%;
    opacity: 0.2;
  }
  .intro-container {
    width: 100%;
  }
  .intro-container p {
    margin-bottom: 80px;
    line-height: 25px;
    /* background-color: #00000080; */
    color: #fff;
    opacity: 100%;
  }
  .intro-container h1 {
    font-size: 2rem;
  }
  .menu {
    padding: 0 5px;
    font-size: 13px;
    margin-bottom: 50px;
  }
}
