@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

/* MENU DE NAVEGAÇÃO */
.menu {
  display: flex;
  justify-content: space-between;
  font-family: "Press Start 2P";
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  flex-direction: row;
  margin: 0 auto;
}

.intro-container h1 {
  font-size: 3rem;
}

.intro-container p {
  font-size: 1.2rem;
  margin-top: 20px;
}
.menu-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}

.menu-container p:hover {
  color: rgb(252, 225, 190);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    /* background-color: #333; */
  }

  li {
    display: block;
    margin: 10px 0;
  }

  ul.active {
    display: flex;
    flex-direction: column;
  }
}

/* BODY */
body {
  background-color: #000;
  font-family: Arial, sans-serif, "Press Start 2P";
  font-size: 16px;
  text-align: center;
  color: aliceblue;
}

h1 {
  color: #fff;
  font-family: "Press Start 2P";
}

/* GRID */
.grid {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}

/* SQUARE */
.square {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  margin: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-size: cover;
  background-position: center center;
  border-radius: 5%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 20px #fff;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

.square:hover {
  box-shadow: 0 0 0 0 #fff;
  animation: pulse 0.5s infinite;
  transform: scale(1.2);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 255, 0);
  }
}

.square p {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* ÍCONES DE REDES SOCIAIS */

.icons {
  margin-right: 10px;
}

.icons:hover {
  color: rgb(252, 225, 190);
  cursor: pointer;
}

.no-effect {
  animation: none !important;
}

/* FOOTER */
footer {
  padding: 10px 0;
}

/* TECNOLOGIAS */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/*item de grade */
.grid-item {
  background-color: #6b6b6b;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/*item de grade quando ele é passado com o mouse */
.grid-item:hover {
  background-color: #ddd;
}

/* item de grade individual */
.git {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.linux {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

/* estilo para dispositivos móveis */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
